@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --pink-light: #fd5293;
  --pink: #ed4d8b;
  --pink-medium: #d1447a;
  --pink-dark: #9f365f;
  --contrast: #fbd918;
  --white: #fff8fc;
  --black: #2b2827;
  --C-BASIC-LIGHT: #d3d3d3;
  --C-DARK: #303050;
  --C-LIGHT: #f6f6f6;
}

.navBarContainer {
  padding: 10px;
}

.navBarLogo {
  width: 10%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.navBarLogo:hover {
  background-color: var(--pink);
}

