* {
    box-sizing: border-box;
    margin: 0;
  }
  
  :root {
    --heights: 70vh;
    --widths: 100%;
      --pink-light: #fd5293;
      --pink: #ed4d8b;
      --pink-medium: #d1447a;
      --pink-dark: #9f365f;
      --contrast: #fbd918;
      --white: #fff8fc;
      --black: #2b2827;
      --DARK: #303050;
      --FF: "Lato", sans-serif;
    --FF-HEADINGS: "Lato", sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --SHADOW: 3px 3px 3px 2px gray;
    
  }
  
  .slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    padding: 10px;
    border: none;
    border-radius: 0.3rem;
   
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    display: flex;
    justify-content: center;
    height: var(--heights);
    width: var(--widths);
    position: relative;
    border: none;
    border-radius: 1rem;
  }
  
  .slide-image {
    width: var(--widths);
    height: 68vh;
    position: absolute;
    border: none;
    border-radius: 0.3rem;
  }
  
  .slide-title,
  .slide-text {
    width: 40%;
    display: flex;
    justify-content: center;
    height: 15%;
    color: var(--DARK);
    font-size: 50px;
    position: absolute;
    text-align: center;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .slide-text {
    top: 85%;
    font-size: 2rem;
  }
  
  .prev,
  .next {
    color: transparent;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
  }
  
  .slider-container:hover .prev,.slider-container:hover .next {
    color: black
  }
  
  .slider-container:hover .prev:hover,
  .slider-container:hover .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
  }
  
  .next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 200;
  }
  
  .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: transparent;
     background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 50%;
    display: inline-block;
  }
  
  .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
   .active-dot {
    background-color: rgba(255, 255, 255, 0.5);
  } 
  
  .slider-container:hover .dot{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .slider-container:hover .active-dot{
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .play-pause {
    color: black;
  } 

  @media (max-width: 768px) {
    
  .slider-container {
    height: 40vh;
    width: 100%;
  }

  .slides {
    height: 40vh;
    width: 100%;
   
  }
  
  .slide-image {
    height: 38vh;
    width: 100%;
  }
}
  